body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0%;
}
.first-part{
  display: flex;
}
.hirf-width{
  width: 50%;
  padding-left: 5%;
  padding-right: 10px;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: justify;
}
.hirf-width img{
  width: 80%;
}
.border{
  border-left: 5px solid;
  border-color:tomato;
}
.h1{
  font-size: 20px;
}
.text-color{
  color:orange;
}
.link-button{
  text-decoration: none;
  color: white;
  background-color: tomato;
  font-weight: 400;
  padding: 10px 40px;
  border-radius: 10px;
}
.my-mision{
 text-align: center;
  color:blue ;
  font-size:50px ;
}
.mision{ 
  background-color: cyan;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px;
  padding-left: 10px;
}

.Vission{
  background-color: rgb(26, 190, 190);
  margin-left:10px;
  margin-right:10px;
  border-radius: 20px;
  padding-left: 10px;
  padding-bottom: 5px;
}
.goals{
  background-color: deepskyblue;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px;
  padding-left: 10px;
}
footer{
  background-color: black;
  text-align: center;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}